body {
  margin: 0%;
  padding: 0%;
  background-color: #f1f3f6;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header {
  background-color: #2874f0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 5%;
}

.searchBox {
  display: flex;
  width: 30%;
}

#searchBox {
  width: 100%;
  padding: 0.5em;
  font-size: 1rem;
  border: none;
}

button[type="submit"] {
  border: none;
  background-color: white;
  cursor: pointer;
}

.loginBtn {
  padding: 0.35em 3em;
  background-color: white;
  color: #2874f0;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 8rem;
}

.navDropdown {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

option {
  color: black;
}

.cartBtn {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.categoryContainer {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding-top: 1em;
  border-bottom: 1px solid #d2d4d6;
  flex-wrap: wrap;
}

.categoryCard {
  width: fit-content;
}

.categoryCard > a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: -10rem;
}

.cat1 {
  width: 4em;
  height: 3.3em;
  background-image: url("./images/categories.png");
  background-position: 0 0;
}

.cat2 {
  width: 4em;
  height: 3.3em;
  background-image: url("./images/categories.png");
  background-position: -130px 0;
}

.cat3 {
  width: 4em;
  height: 3.3em;
  background-image: url("./images/categories.png");
  background-position: -260px 0;
}

.cat4 {
  width: 4em;
  height: 3.3em;
  background-image: url("./images/categories.png");
  background-position: -395px 0;
}

.cat5 {
  width: 4em;
  height: 3.3em;
  background-image: url("./images/categories.png");
  background-position: -538px 0;
}

.cat6 {
  width: 4em;
  height: 3.3em;
  background-image: url("./images/categories.png");
  background-position: -677px 0;
}

.cat7 {
  width: 4em;
  height: 3.3em;
  background-image: url("./images/categories.png");
  background-position: -820px 0;
}

.cat8 {
  width: 4em;
  height: 3.3em;
  background-image: url("./images/categories.png");
  background-position: -960px 0;
}

.cat9 {
  width: 4em;
  height: 3.3em;
  background-image: url("./images/categories.png");
  background-position: -1129px 0;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(auto-fit, auto);
  gap: 1em;
  grid-template-areas: "deals deals deals deals deals ads" "other other other other other other";
  margin: 1rem 5rem;
  position: relative;
}

.gridBox {
  background-color: white;
}

.dealsTopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  border-bottom: 1px solid #d2d4d6;
}

.dealsTopLeft {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.dealsTopLeft2 {
  padding-bottom: 1em;
}
.dealsTopLeft2 > h2 {
  margin-bottom: 0;
}

.dealsTopLeft2 > span {
  color: #aeaeae;
}

.dealViewBtn {
  background-color: #2874f0;
  color: white;
  padding: 1em;
  border: none;
}

.dealsBottomBar {
  gap: 1em;
  margin-top: 1em;
  display: flex;
  overflow-x: scroll;
}

.gtBtn {
  position: absolute;
  background-color: white;
  padding: 2em 0.1em 2em 0.3em;
  box-shadow: -10px 0px 10px grey;
  border-radius: 5px 0px 0px 5px;
  cursor: pointer;
  display: none;
}

.gtBtn {
  top: 100px;
  right: 228px;
}

.prodCard {
  text-align: center;
  flex-shrink: 0;
  width: 150px;
}

.prodCard > img {
  max-width: 100%;
  height: auto;
}

.prodCardCompany {
  margin: 0.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.prodCardDiscount {
  color: green;
  margin: 0.3em;
}

.prodCardDetail {
  color: #aeaeae;
  margin: 0.3em;
}

.ads {
  background-image: url("./images/other/banner.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 412px) {
  .logo {
    width: 20%;
  }

  .dealsTopLeft h2 {
    font-size: large;
  }

  .dealViewBtn {
    padding: 0.7em 1em;
    flex-shrink: 0;
  }

  .dealsBottomBar {
    flex-wrap: wrap !important;
    justify-content: center;
  }
}

@media screen and (min-width: 415px) and (max-width: 992px) {
  .logo {
    width: 10%;
  }
}

@media screen and (max-width: 992px) {
  .header {
    padding: 0.5em 0em;
    gap: 0.5em;
  }

  #searchBox {
    font-size: 0.7rem;
  }

  .loginBtn {
    margin: 0;
    padding: 0.5em;
  }

  .navDropdown {
    padding: 0em;
  }

  .cartBtn {
    display: none;
  }

  .categoryContainer {
    gap: 1em;
    padding: 1em;
  }

  .gridContainer {
    grid-template-areas: "deals deals deals deals deals deals" "ads ads ads ads ads ads" "other other other other other other";
    margin: 1em;
  }
}

@media screen and (min-width: 770px) and (max-width: 992px) {
  .logo {
    width: 10%;
  }

  .loginBtn {
    margin: 0;
    padding: 0.5em;
  }
}

@media screen and (min-width: 1500px) {
  .gtBtn {
    display: block;
  }
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}
