body {
  margin: 0%;
  padding: 0%;
  background-color: #f1f3f6;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Overriding only bootstrap style for h2 for my custom style using !important */
h2 {
  font-size: 1.5rem !important;
  font-weight: bold !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.header {
  background-color: #2874f0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 3;
}

.logo {
  width: 5%;
}

.searchBox {
  display: flex;
  width: 30%;
}

#searchBox {
  width: 100%;
  padding: 0.5em;
  font-size: 1rem;
  border: none;
}

button[type="submit"] {
  border: none;
  background-color: white;
  cursor: pointer;
}

.loginBtn {
  padding: 0.35em 3em;
  background-color: white;
  color: #2874f0;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 8rem;
}

.navDropdown {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

option {
  color: black;
}

.cartBtn {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.categoryContainer {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding-top: 1em;
  border-bottom: 1px solid #d2d4d6;
  flex-wrap: wrap;
  position: relative;
}

@keyframes saleDivAnim {
  0% {
    background-color: blue;
    color: white;
  }
  100% {
    background-color: orange;
    color: black;
  }
}

.saleDiv {
  top: 60px;
  left: 10px;
  z-index: 2;
  padding: 1em;
  background-color: #2874f0;
  color: white;
  border-radius: 50%;
  transform: rotate(-25deg);
  animation: saleDivAnim 0.5s ease-in-out 0s infinite alternate;
}

.categoryCard {
  width: fit-content;
}

.categoryCard > a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: -10rem;
}

.cat1 {
  width: 4em;
  height: 3.3em;
  background-image: url("./images/categories.png");
  background-position: 0 0;
}

.cat2 {
  width: 4em;
  height: 3.3em;
  background-image: url("./images/categories.png");
  background-position: -130px 0;
}

.cat3 {
  width: 4em;
  height: 3.3em;
  background-image: url("./images/categories.png");
  background-position: -260px 0;
}

.cat4 {
  width: 4em;
  height: 3.3em;
  background-image: url("./images/categories.png");
  background-position: -395px 0;
}

.cat5 {
  width: 4em;
  height: 3.3em;
  background-image: url("./images/categories.png");
  background-position: -538px 0;
}

.cat6 {
  width: 4em;
  height: 3.3em;
  background-image: url("./images/categories.png");
  background-position: -677px 0;
}

.cat7 {
  width: 4em;
  height: 3.3em;
  background-image: url("./images/categories.png");
  background-position: -820px 0;
}

.cat8 {
  width: 4em;
  height: 3.3em;
  background-image: url("./images/categories.png");
  background-position: -960px 0;
}

.cat9 {
  width: 4em;
  height: 3.3em;
  background-image: url("./images/categories.png");
  background-position: -1129px 0;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(auto-fit, auto);
  gap: 1em;
  grid-template-areas: "deals deals deals deals deals ads" "other other other other other other";
  margin: 1rem 5rem;
}

.gridBox {
  background-color: white;
}

.dealsTopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  border-bottom: 1px solid #d2d4d6;
}

.dealsTopLeft {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.dealsTopLeft2 {
  padding-bottom: 1em;
}
.dealsTopLeft2 > h2 {
  margin-bottom: 0;
}

.dealsTopLeft2 > span {
  color: #aeaeae;
}

button.dealViewBtn {
  background-color: #2874f0;
  color: white;
  padding: 1em;
  border: none;
}

.dealsBottomBar {
  gap: 1em;
  margin-top: 1em;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 0.5em;
}

.dealsBottomBar > a {
  text-decoration: none;
  color: black;
}

.gtBtnContainer {
  position: relative;
}

.gtBtn {
  position: absolute;
  top: 120px;
  background-color: white;
  cursor: pointer;
  z-index: 1;
}

.gtBtnRight {
  right: 0;
  left: auto;
  padding: 2em 0.1em 2em 0.3em;
  box-shadow: -5px 0px 10px grey;
  border-radius: 5px 0px 0px 5px;
}

.gtBtnLeft {
  left: 0;
  right: auto;
  display: none;
  border-radius: 0px 5px 5px 0px;
  box-shadow: 5px 0px 10px grey;
  padding: 2em 0.3em 2em 0.1em;
}

.gtBtnContainer:has(#scrolled:target) .gtBtnLeft,
.gtBtnContainer:has(#scrolled2:target) .gtBtnLeft {
  display: block;
}

.gtBtnContainer:has(#scrolled:target) .gtBtnRight,
.gtBtnContainer:has(#scrolled2:target) .gtBtnRight {
  display: none;
}

.card:hover {
  transform: translate(0px, -0.2em);
  box-shadow: 0px 0px 5px;
  transition: transform 0.6s ease;
}

.card-body {
  padding: 0;
}

.prodCard {
  text-align: center;
  flex-shrink: 0;
  width: 150px;
  border: none;
}

.prodCard > img {
  max-width: 100%;
  height: auto;
}

.prodCardCompany {
  margin: 0.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.prodCardDiscount {
  color: green;
  margin: 0.3em;
}

.prodCardDetail {
  color: #aeaeae;
  margin: 0.3em;
}

.ads {
  padding: 0.5em;
  margin: auto;
}

@media screen and (max-width: 415px) {
  .logo {
    width: 20%;
  }

  .dealsTopLeft h2 {
    font-size: large;
  }

  .dealViewBtn {
    padding: 0.7em 1em;
    flex-shrink: 0;
  }

  .dealsBottomBar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .gtBtn {
    display: none;
  }
}

@media screen and (min-width: 416px) and (max-width: 992px) {
  .logo {
    width: 10%;
  }
}

@media screen and (max-width: 992px) {
  .header {
    padding: 0.5em 0em;
    gap: 0.5em;
  }

  #searchBox {
    font-size: 0.7rem;
  }

  .loginBtn {
    margin: 0;
    padding: 0.5em;
  }

  .navDropdown {
    padding: 0em;
  }

  .cartBtn {
    display: none;
  }

  .categoryContainer {
    gap: 1em;
    padding: 1em;
  }

  .gridContainer {
    grid-template-areas: "ads ads ads ads ads ads" "deals deals deals deals deals deals" "other other other other other other";
    margin: 1em;
  }
}

@media screen and (min-width: 770px) and (max-width: 992px) {
  .logo {
    width: 10%;
  }

  .loginBtn {
    margin: 0;
    padding: 0.5em;
  }
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}
